USE [otobüs bileti]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IndirimliFiyat]    Script Date: 15.08.2025 15:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IndirimliFiyat]
(
    @Fiyat DECIMAL(10,2),
    @IndirimOrani INT
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    RETURN @Fiyat - (@Fiyat * @IndirimOrani / 100.0)
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_YakitVerimliligi]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_YakitVerimliligi] (
    @BaslangicKM INT,
    @BitisKM INT,
    @Litre DECIMAL(6,2)
)
RETURNS DECIMAL(6,2)
AS
BEGIN
    DECLARE @Mesafe INT = @BitisKM - @BaslangicKM;
    IF @Litre = 0
        RETURN 0;
    RETURN CAST(@Mesafe AS DECIMAL(6,2)) / @Litre;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_YolcuYasi]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_YolcuYasi]
(
    @DogumTarihi DATE
)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(YEAR, @DogumTarihi, GETDATE())
END;
GO
/****** Object:  Table [dbo].[YakitKontrol]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YakitKontrol](
	[YakıtID] [int] IDENTITY(1,1) NOT NULL,
	[OtobusID] [int] NOT NULL,
	[AlimTarihi] [date] NOT NULL,
	[AlinanLitre] [decimal](6, 2) NULL,
	[AlimUcreti] [decimal](8, 2) NULL,
	[KMdegeri] [int] NOT NULL,
	[KontrolTarihi] [date] NOT NULL,
	[HarcananLitre] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[YakıtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takometre]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takometre](
	[TakometreID] [int] IDENTITY(1,1) NOT NULL,
	[OtobusID] [int] NOT NULL,
	[SeferID] [int] NOT NULL,
	[BaslangicKM] [int] NOT NULL,
	[BitisKM] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TakometreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otobus]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otobus](
	[OtobusID] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [nvarchar](20) NOT NULL,
	[Marka] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[KoltukSayisi] [int] NOT NULL,
	[UretimYili] [int] NOT NULL,
	[SigortaTarihi] [date] NOT NULL,
	[MotorNumarasi] [nvarchar](50) NULL,
	[RuhsatNumarasi] [nvarchar](50) NULL,
	[YakitTipi] [varchar](20) NULL,
	[DepoKapasitesi] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OtobusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OtobusYakitRaporu]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OtobusYakitRaporu] AS
SELECT O.Plaka, Y.AlimTarihi, Y.AlinanLitre, T.BaslangicKM, T.BitisKM,
       dbo.fn_YakitVerimliligi(T.BaslangicKM, T.BitisKM, Y.AlinanLitre) AS Verimlilik
FROM YakitKontrol Y
JOIN Otobus O ON O.OtobusID = Y.OtobusID
JOIN Takometre T ON T.OtobusID = Y.OtobusID AND T.Tarih = Y.AlimTarihi;
GO
/****** Object:  Table [dbo].[Sefer]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sefer](
	[SeferID] [int] IDENTITY(1,1) NOT NULL,
	[OtobusID] [int] NOT NULL,
	[SoforID] [int] NOT NULL,
	[RotaID] [int] NOT NULL,
	[TarihSaat] [datetime] NOT NULL,
	[SeferTipi] [nvarchar](20) NOT NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[YolculukSuresi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SeferleriTarihAraligiyla]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SeferleriTarihAraligiyla]
(
    @BaslangicTarihi DATE,
    @BitisTarihi DATE
)
RETURNS TABLE
AS
RETURN
(
    SELECT SeferID, TarihSaat, SeferTipi
    FROM Sefer
    WHERE TarihSaat BETWEEN @BaslangicTarihi AND @BitisTarihi
);

GO
/****** Object:  Table [dbo].[Rota]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rota](
	[RotaID] [int] IDENTITY(1,1) NOT NULL,
	[KalkisSehri] [nvarchar](50) NOT NULL,
	[VarisSehri] [nvarchar](50) NOT NULL,
	[MesafeKM] [int] NOT NULL,
	[SeferTipi] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bilet]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilet](
	[BiletID] [int] IDENTITY(1,1) NOT NULL,
	[YolcuID] [int] NOT NULL,
	[SeferID] [int] NOT NULL,
	[KoltukNo] [int] NOT NULL,
	[KoltukTipi] [nvarchar](10) NOT NULL,
	[SatinAlmaTarihi] [datetime] NULL,
	[OzelTalep] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BiletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_YolcununBiletleri]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_YolcununBiletleri]
(
    @YolcuID INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT B.BiletID, S.TarihSaat, R.KalkisSehri, R.VarisSehri
    FROM Bilet B
    INNER JOIN Sefer S ON B.SeferID = S.SeferID
    INNER JOIN Rota R ON S.RotaID = R.RotaID
    WHERE B.YolcuID = @YolcuID
);
GO
/****** Object:  Table [dbo].[BiletYedek]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BiletYedek](
	[YedekID] [int] IDENTITY(1,1) NOT NULL,
	[BiletID] [int] NOT NULL,
	[KoltukNo] [int] NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[SilindiMi] [bit] NULL,
	[YedeklemeTarihi] [datetime] NULL,
	[IslemTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[YedekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indirim]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indirim](
	[IndirimID] [int] IDENTITY(1,1) NOT NULL,
	[IndirimOrani] [int] NOT NULL,
	[BaslangicTarihi] [date] NOT NULL,
	[BitisTarihi] [date] NOT NULL,
	[IndirimAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IndirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[SonGirisTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odeme]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odeme](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[BiletID] [int] NOT NULL,
	[OdemeTipi] [nvarchar](20) NOT NULL,
	[Tutar] [decimal](10, 2) NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[BankaAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sofor]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sofor](
	[SoforID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Telefon] [char](10) NOT NULL,
	[TecrubeYili] [int] NOT NULL,
	[EhliyetNo] [nvarchar](20) NOT NULL,
	[Adres] [nvarchar](255) NULL,
	[EhliyetTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoforID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sube]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sube](
	[SubeID] [int] IDENTITY(1,1) NOT NULL,
	[SubeAdi] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](255) NOT NULL,
	[Telefon] [char](10) NOT NULL,
	[AcilisTarihi] [date] NOT NULL,
	[MudurAdSoyad] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yolcu]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yolcu](
	[YolcuID] [int] IDENTITY(1,1) NOT NULL,
	[TCNo] [char](11) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Cinsiyet] [char](1) NOT NULL,
	[Telefon] [char](10) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Adres] [nvarchar](255) NULL,
	[Sehir] [nvarchar](50) NULL,
	[Uyruk] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[YolcuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TCNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bilet] ADD  DEFAULT (getdate()) FOR [SatinAlmaTarihi]
GO
ALTER TABLE [dbo].[BiletYedek] ADD  DEFAULT ((0)) FOR [SilindiMi]
GO
ALTER TABLE [dbo].[BiletYedek] ADD  DEFAULT (getdate()) FOR [YedeklemeTarihi]
GO
ALTER TABLE [dbo].[BiletYedek] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Odeme] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[Otobus] ADD  DEFAULT ('Dizel') FOR [YakitTipi]
GO
ALTER TABLE [dbo].[Rota] ADD  DEFAULT ('Normal') FOR [SeferTipi]
GO
ALTER TABLE [dbo].[Sefer] ADD  DEFAULT ((0)) FOR [Fiyat]
GO
ALTER TABLE [dbo].[Yolcu] ADD  DEFAULT ('Türkiye') FOR [Uyruk]
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD FOREIGN KEY([SeferID])
REFERENCES [dbo].[Sefer] ([SeferID])
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD FOREIGN KEY([YolcuID])
REFERENCES [dbo].[Yolcu] ([YolcuID])
GO
ALTER TABLE [dbo].[BiletYedek]  WITH CHECK ADD FOREIGN KEY([BiletID])
REFERENCES [dbo].[Bilet] ([BiletID])
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD FOREIGN KEY([BiletID])
REFERENCES [dbo].[Bilet] ([BiletID])
GO
ALTER TABLE [dbo].[Sefer]  WITH CHECK ADD FOREIGN KEY([OtobusID])
REFERENCES [dbo].[Otobus] ([OtobusID])
GO
ALTER TABLE [dbo].[Sefer]  WITH CHECK ADD FOREIGN KEY([RotaID])
REFERENCES [dbo].[Rota] ([RotaID])
GO
ALTER TABLE [dbo].[Sefer]  WITH CHECK ADD FOREIGN KEY([SoforID])
REFERENCES [dbo].[Sofor] ([SoforID])
GO
ALTER TABLE [dbo].[Takometre]  WITH CHECK ADD FOREIGN KEY([OtobusID])
REFERENCES [dbo].[Otobus] ([OtobusID])
GO
ALTER TABLE [dbo].[Takometre]  WITH CHECK ADD FOREIGN KEY([SeferID])
REFERENCES [dbo].[Sefer] ([SeferID])
GO
ALTER TABLE [dbo].[YakitKontrol]  WITH CHECK ADD FOREIGN KEY([OtobusID])
REFERENCES [dbo].[Otobus] ([OtobusID])
GO
ALTER TABLE [dbo].[YakitKontrol]  WITH CHECK ADD  CONSTRAINT [FK_Yakit_Otobus] FOREIGN KEY([OtobusID])
REFERENCES [dbo].[Otobus] ([OtobusID])
GO
ALTER TABLE [dbo].[YakitKontrol] CHECK CONSTRAINT [FK_Yakit_Otobus]
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD CHECK  (([KoltukNo]>(0)))
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD CHECK  (([KoltukTipi]='NORMAL' OR [KoltukTipi]='VIP'))
GO
ALTER TABLE [dbo].[Indirim]  WITH CHECK ADD CHECK  (([IndirimOrani]>=(1) AND [IndirimOrani]<=(100)))
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD CHECK  (([Rol]='Calisan' OR [Rol]='Admin'))
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD CHECK  (([OdemeTipi]='InternetBankaciligi' OR [OdemeTipi]='Nakit' OR [OdemeTipi]='KrediKarti'))
GO
ALTER TABLE [dbo].[Odeme]  WITH CHECK ADD CHECK  (([Tutar]>(0)))
GO
ALTER TABLE [dbo].[Otobus]  WITH CHECK ADD CHECK  (([DepoKapasitesi]>=(0)))
GO
ALTER TABLE [dbo].[Otobus]  WITH CHECK ADD CHECK  (([KoltukSayisi]>(0)))
GO
ALTER TABLE [dbo].[Otobus]  WITH CHECK ADD CHECK  (([UretimYili]>=(1990) AND [UretimYili]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Otobus]  WITH CHECK ADD CHECK  (([YakitTipi]='LPG' OR [YakitTipi]='Elektrik' OR [YakitTipi]='Benzin' OR [YakitTipi]='Dizel'))
GO
ALTER TABLE [dbo].[Rota]  WITH CHECK ADD CHECK  (([MesafeKM]>(0)))
GO
ALTER TABLE [dbo].[Sefer]  WITH CHECK ADD CHECK  (([SeferTipi]='Ekspres' OR [SeferTipi]='Normal'))
GO
ALTER TABLE [dbo].[Sofor]  WITH CHECK ADD CHECK  (([TecrubeYili]>=(0)))
GO
ALTER TABLE [dbo].[Sofor]  WITH CHECK ADD CHECK  ((len([Telefon])=(10)))
GO
ALTER TABLE [dbo].[Sube]  WITH CHECK ADD CHECK  ((len([Telefon])=(10)))
GO
ALTER TABLE [dbo].[YakitKontrol]  WITH CHECK ADD CHECK  (([AlimUcreti]>=(0)))
GO
ALTER TABLE [dbo].[YakitKontrol]  WITH CHECK ADD CHECK  (([AlinanLitre]>(0)))
GO
ALTER TABLE [dbo].[YakitKontrol]  WITH CHECK ADD CHECK  (([HarcananLitre]>=(0)))
GO
ALTER TABLE [dbo].[YakitKontrol]  WITH CHECK ADD CHECK  (([KMdegeri]>=(0)))
GO
ALTER TABLE [dbo].[Yolcu]  WITH CHECK ADD CHECK  (([Cinsiyet]='K' OR [Cinsiyet]='E'))
GO
ALTER TABLE [dbo].[Yolcu]  WITH CHECK ADD CHECK  ((len([TCNo])=(11)))
GO
ALTER TABLE [dbo].[Yolcu]  WITH CHECK ADD CHECK  ((len([Telefon])=(10)))
GO
/****** Object:  StoredProcedure [dbo].[sp_BiletSil]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BiletSil]
    @BiletID INT
AS
BEGIN
    DELETE FROM Bilet WHERE BiletID = @BiletID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeEkle]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OdemeEkle]
    @BiletID INT,
    @OdemeTipi NVARCHAR(20),
    @Tutar DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Odeme (BiletID, OdemeTipi, Tutar)
    VALUES (@BiletID, @OdemeTipi, @Tutar);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SeferGuncelle]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeferGuncelle]
    @SeferID INT,
    @YeniTarihSaat DATETIME,
    @YeniSeferTipi NVARCHAR(20)
AS
BEGIN
    UPDATE Sefer
    SET TarihSaat = @YeniTarihSaat,
        SeferTipi = @YeniSeferTipi
    WHERE SeferID = @SeferID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YakitRaporuGetir]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YakitRaporuGetir]
    @TarihBas DATE,
    @TarihBit DATE
AS
BEGIN
    SELECT * FROM YakitKontrol
    WHERE KontrolTarihi BETWEEN @TarihBas AND @TarihBit
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YolcuEkle]    Script Date: 15.08.2025 15:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YolcuEkle]
    @TCNo CHAR(11),
    @Ad NVARCHAR(50),
    @Soyad NVARCHAR(50),
    @DogumTarihi DATE,
    @Cinsiyet CHAR(1),
    @Telefon CHAR(10),
    @Email NVARCHAR(100)
AS
BEGIN
    INSERT INTO Yolcu (TCNo, Ad, Soyad, DogumTarihi, Cinsiyet, Telefon, Email)
    VALUES (@TCNo, @Ad, @Soyad, @DogumTarihi, @Cinsiyet, @Telefon, @Email);
END;


GO
